    *{
        box-sizing: border-box;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /*base code*/
    section{
        position: relative;
        background-color: powderblue;
        border: 1px solid black;
        padding: 35px 20px 0;
        margin: 0 20px 30px;
    }

    h1{margin: 50px 0 50px}
    h1,h2{text-align: center;}

    h2{
    border: 1px solid black;
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    padding: 3px;
    width: 40%;
    }

    #first > h2 {background-color: red}
    #second > h2 {background-color: yellow}
    #third > h2 {background-color: pink}
    
    /*large devices*/
    @media (min-width:992px){
        
    section{
        left: 24px;
        margin: 1%;
        float: left;
        width: 30%;
    }

    }

    /*medium devices*/
    @media (min-width:768px) and (max-width:991px){
    
    #first, #second{
        margin: 0 2% 3% 2%;
        width: 46%;
        float: left;
    }

    #third{
        clear: left;
        margin: 2%; 
    }

    #third > h2 {width: 20%}

    }






   

    
    

 
